
<li>
<%= label_tag 'Brukernavn' %>
<%= f.text_field :login %>
</li>

<li>
<%= label_tag 'fornavn' %>
<%= f.text_field :first_name %>
</li>

<li>
<%= label_tag 'Etternavn' %>
<%= f.text_field :last_name %>
</li>

<li>
<%= label_tag 'email' %>
<%= f.text_field :email %>
</li>

<li>
<%= label_tag 'passord' %>
<%= f.password_field :password %>
</li>

<li>
<%= label_tag 'password_confirmation', 'Gjennta' %>
<%= f.password_field :password_confirmation %>
</li>


