<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		
				<title>GCRdesign: Admin<%= ": " + @page_title if @page_title%></title>
				<meta name="keywords" content="" />
<meta name="description" content="" />
		<%= stylesheet_link_tag 'admin' %>
		<%= javascript_include_tag :ckeditor %>
  	

	</head>
	
	
	<body>
<!-- start header -->

<div id="header">
	<div id="header_wrapper">
		<div id="login_form">
			
		</div>
		<div id="login_form_text">
			<%if logged_in?%>
			Hei <%= current_user.first_name %>! Du er innlogget.
				<%= link_to "Logg ut","/logout" %> | 
				<%= link_to( "Til siden", root_path) %>
			<%end%>
		</div>
		<ul>
			<li><%= link_to("Bilder", data_files_path )%></li>
			<li><%= link_to("Sider", pages_path )%></li>
			<li><%= link_to("Brukere", users_path )%></li>
			<li><%= link_to("Hjem", view_cms_path )%></li>
		</ul>
	  </div>
	</div>
</div>
	
	
	

<!-- end header -->
<!-- start page -->

	<div id="content">
    
	<div id="content_wrapper">
		<p style="color: green"><%= flash[:notice] %></p>
		<p style="color: red"><%= flash[:error] %></p>
		<%= yield  %>
			
		<div style="clear:both;"></div>
	</div>
</div>
	
<!-- end page -->

</body>

</html>

			
	
