<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>GCRdesign: <%= @page_title %></title>
  <%= stylesheet_link_tag 'public' %>
  <%= javascript_include_tag "jquery", "jquery.lightbox-0.5", "application" %>
  <%= stylesheet_link_tag "jquery.lightbox-0.5" %>
</head>
<body>
  <div id="header">
		<div id="header_wrapper">		 
		<%if logged_in?%>
		<div id="logged_in">
			<p>Hei, <%= current_user.first_name %>! Du er innlogget.</p> 
				<%= link_to "Logg ut","/logout" %> | 
				<%= link_to( "Til CMS", view_cms_path) %>
				</div>
			<%end%>	
</div>

<div id="content">

	<div id="menu"> 
	  <ul><%= render :partial => 'shared/page', :collection => @pages %></ul>
  </div>
		<div id="content_l">	 
		<%= yield  %>
		 <%= flash[:notice] %>
		</div>	
</div>		
		<div style="clear:both;"></div>
		<div id="footer">
		  <p>Kontakt Gunvor C. Røkholt design - telefon 91310460 - adresse Hoffsveien 27, 0275 Oslo - epost <a href="mailto:gunvor@gcrdesign.no">gunvor@gcrdesign.no</a></p>
		  
		</div>


</body>

</html>
